.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  .skeletonItem {
    width: 200px;
    height: 360px;
    @media (max-width: 1024px) {
      width: 350px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}