.movieWrapper {
  width: 200px;
  background-color: black;
  @media (max-width: 1024px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  .image {
    position: relative;
    background-color: #3d3d3d;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;

    &:hover {
      transition: .5s;
      opacity: 0.2;
      transform: scale(1.05);
    }
    @media (max-width: 768px) {
      &:hover {
        transition: none;
        opacity: 1;
        transform: none;
      }
    }
    .movieRating {
      //z-index: 11;
      position: absolute;
      color: white;
      top: 25px;
      right: 25px;
      padding: 10px;
      border-radius: 50%;
    }
  }
  .titleMovie {
    color: gold;
    font-size: 20px;
  }
  .yearMovie {
    color: white;
    font-size: 16px;
  }
}


