.movieWrapper {
  width: 200px;
  background-color: black;
  border: 1px solid white;
  overflow: hidden;
  @media (max-width: 1024px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  .image {
    width: 200px;
    min-height: 300px;
    position: relative;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    @media (max-width: 1024px) {
      width: 350px;
    }
    @media (max-width: 768px) {
      background-color: #3d3d3d;
      padding: 30px 30px 0 30px;
    }
    img {
      width: 100%;
      &:hover {
        transition: .5s;
        opacity: 0.6;
        transform: scale(1.05);
      }
      @media (max-width: 768px) {
        &:hover {
          transition: none;
          opacity: 1;
          transform: none;
        }
      }
    }

    .movieRating {
      z-index: 11;
      position: absolute;
      color: white;
      top: 25px;
      right: 25px;
      padding: 10px;
      border-radius: 50%;
    }
  }
  .descr {
    background-color: #3d3d3d;
    padding: 0 0 10px 30px;
    .titleMovie {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 150px;
      color: gold;
      font-size: 20px;
    }
    .yearMovie {
      color: white;
      font-size: 16px;
    }
  }

}


